

.wishlist[lightMode = true]{
    background-color: white;
    transition: 0.3s;
}
.wishlist[lightMode = true] h2{
    color: black !important;
}

.wishlist[lightMode = true] .list table td p ,
.wishlist[lightMode = true] .list table td a
{
    color: black;
}
.wishlist .list table td p ,
.wishlist .list table td a
{
    color: white;
}

.wishlist .list table {
    margin: 0;
}

.wishlist .list table .img{
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.wishlist .list table .img img {
    height: 100%;
    object-fit: contain;
}

.wishlist .list table button {
    background-color: transparent;
    border: unset;
    font-size: 32px;
    margin-right: 50px;
}

.wishlist .list table .toCart {
    background-color: #e7c400;
    border-radius: 10px !important;
    margin-left: 40px;
    font-size: 18px;
}

.wishlist .list table td {
    vertical-align: middle;
}

@media (max-width: 767px) {
    .wishlist .table thead {
        display: none;
    }

    .wishlist .table tbody tr {
        display: block;
        border: 1px solid black;
        border-radius: 5px ;
        position: relative;
        margin-bottom: 20px;
    }

    .wishlist table td {
        width: 100%;
        border: unset;
    }

    .wishlist table td .delete {
        position: absolute;
        right: 10px;
        top: 0;
        margin: 0;
    }
    .wishlist .list table .toCart {
        margin: 0;
    }

}