.address .header {
    border-bottom: 1px solid #888;
    color: #ccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}

.address[lightMode = true] .header {
    color: black;
}

.address .header::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid #fed200;
    width: 200px;
    bottom: 0;
    left: 0;
}

.address ul li {
    color: white;
}

.address[lightMode = true] ul li {
    color: black;
}