.sign[lightMode=true] {
    background-color: white;
    color: black;
}

.sign .head p {
    color: white ;
}

.sign[lightMode=true] .head p {
    color: black;
}

.sign .head h2 {
    position: relative;
    color: white;
    font-size: 28px;
    padding: 15px 0;
    margin-bottom: 15px;
}

.sign[lightMode=true] .head h2 {
    color: black !important;
}

.sign .head h2::before  {
    position: absolute;
    content: "";
    border-bottom: 1px solid #888;
    width: 100%;
    bottom: 0;
    left: 0;
}

.sign .head h2::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #fed200;
    width: 100px;
    bottom: 0;
    left: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
}

.nav-pills .nav-link:first-child {
    border-top: 1px solid #888;
}

.nav-pills .nav-link {
    padding: 20px 0;
    /* margin: 10px 0; */
    border-bottom: 1px solid #888;
    border-radius: 0;
    display:flex;
    justify-content: space-between;
    font-size: 14px;
}
/* 
.sign .logged .logOut {
    padding: 0;
    text-align: left;
    color: white;
} */

.sign .logged > h2 {
    font-size: 40px;
    padding: 10px 0 20px;
}

.sign[lightMode=true] .logged > h2 {
    color: black !important;
}

.sign .logged .notFound{
    background-color: #fed200;
    color: black;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sign .account {
    position: relative;
}

.sign .account::before {
    border-left: 1px solid #888;
    position: absolute;
    content: "";
    left: 50%;
    height: 100%;
}

.sign .account::after {
    position: absolute;
    content: "or";
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.sign input.form-control {
    background-color: #212121;
    border-color: unset;
    box-shadow: unset;
    transition: 0.3s;
    border-radius: 50px;
    margin: 5px 0 20px;
    color: white;
    border-color: #212121;
}

.sign p {
    color: white;
}

.sign[lightMode = true] p {
    color: black;
}

.sign[lightMode=true] input.form-control {
    border-color: #aaa;
    background-color: #ddd;
    color: black;
}

.sign input.form-control:foucs {
    border: 1px solid #1da1f2;
    background-color: #212121;
}

.sign .button {
    background-color: #fff;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 20px 0;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.sign[lightMode = true] .button {
    
    background-color: #e7c400;
    /* color: white; */
}

@media(max-width : 768px) {
    .sign .account::after {
        content: unset;
    }
    .sign .account::before {
        content: unset;
    }
}
.sign[lightMode=true] .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
}