.productDetails{
    padding: 70px 55px;
    transition: 0.3s;
}

.productDetails[lightMode = true] {
    background-color: #fff;
}

.productDetails .img {
    height: 440px;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
}

.productDetails .img.loading {
    background-color: transparent;
}

.productDetails .img img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    transition: 0 !important;
}

.productDetails[lightMode = true] .details .info h3 {
    color: black !important;
}


.productDetails .details .info p ,
.productDetails .details .info span ,
.productDetails .details .info p ,
.productDetails .details .description p {
    color: white !important;
}
.productDetails[lightMode = true] .details .info p ,
.productDetails[lightMode = true] .details .info span ,
.productDetails[lightMode = true] .details .info p ,
.productDetails[lightMode = true] .details .description p {
    color: black !important;
}


.rate .stars-outer  {
    position: relative;
    display: inline-block;
}

.rate .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0%;
}

.rate .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 6 Free';
    font-weight: 200;
    color: #888;
}

.rate .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    color: gold;
}

.details .description {
    border: 1px solid #333;
    border-left: none;
    border-right: none;

    padding: 20px 0 ;
}

.details .description span{
    padding-right: 10px;
    color: white;
}

.productDetails[lightMode = true] .details .description span {
    color: black;
}

.details .description p {
    font-size: 18px;
    padding: 20px 0 10px;
}

.details .description h2 {
    color: #1da1f2;
    font-weight: 400;
    font-size: 40px;
    border-bottom: 1px solid #333;
    padding-bottom: 20px ;
}

.details .description .form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
}

.details .description .form input{
    width: 150px;
    background-color: #212121;
    border: 1px solid transparent;
    border-radius: 50px;
    color: white;
    padding: 12px;
    height: 100%;
    margin-right: 20px;
}

.productDetails[lightMode = true] .details .description .form input {
    background-color: #ddd;
    color: black;
}

.details .description .form .toCart {
    background-color: #fed200;
    color: #212121;
    /* font-size: px; */
    padding: 10px 20px;
    border-radius: 50px !important;
}

