.contact-us h1 {
    font-size: 40px;
    color: white;
}

.contact-us .head h2{
    position: relative;
    font-size: 28px;
    padding: 15px 0;
    margin-bottom: 15px;
    color: #ddd;
}

.contact-us .head h2::before {
    position: absolute;
    content: "";
    border-bottom:1px solid #888;
    width: 100%;
    bottom: 0;
    left: 0;
}

.contact-us .head h2::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #fed700;
    width: 100px;
    bottom: 0;
    left: 0;
}

.contact-us .left .form input,
.contact-us .left .form textarea{
    background-color: #212121;
    border-color: #212121;
    box-shadow: none;
    margin: 5px 0 20px;
    transition: 0.3s;
}

.contact-us .left .form input:focus,
.contact-us .left .form textarea:focus {
    border-color: #1da1f2;
}

.contact-us .left .form label{
    color: #ddd;
    font-weight: 400;
}

.contact-us .left .form .row input {
    border-radius: 50px;
}

.contact-us .left .form .button {
    background-color: white;
    color: #212121;
    padding: 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
}

.contact-us .right .address div{
    padding: 20px 0;
    font-size: 14px;
}

.contact-us .right .address div p {
    color: #ddd;
    margin: 0;
}

.contact-us .right .address div h6 {
    color: #fff;
    margin-bottom: 10px;
}