.ProductCate {
    padding: 55px 10px;
}

.ProductCate h5 {
    color: white;
    padding: 10px 0;
    font-weight: 500;
    position: relative;
}

.ProductCate h5::before {
    border-bottom: 1px solid grey;
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
}

.ProductCate h5:after {
    content: "";
    position: absolute;
    width: 100px;
    bottom: 0;
    border-bottom: 1px solid yellow;
    left: 0;
}

.ProductCate li {
    padding: 10px 0;
}

.ProductCate li:not(:last-child) {
    border-bottom: 1px solid grey;
}