.ProductCate {
    padding: 55px 10px;
}

.ProductCate h5 {
    color: white;
    padding: 10px 0;
    font-weight: 500;
    position: relative;
}

.ProductCate[lightMode=true] h5 {
    color: black;
}

.ProductCate h5::before {
    border-bottom: 1px solid grey;
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
}

.ProductCate h5::after {
    content: "";
    position: absolute;
    width: 100px;
    bottom: 0;
    border-bottom: 2px solid #fed200;
    left: 0;
}

.ProductCate[lightMode=true] h5::after {
    border-bottom: 2px solid #dc3545;
}

.ProductCate li {
    padding: 10px 0;
    color: white;
}

.ProductCate[lightMode=true] li {
    color: black;
}

.ProductCate li:not(:last-child) {
    border-bottom: 1px solid grey;
}