footer {
    transition: 0.3s;
}

footer[lightMode = true] {
    background-color: white;
}

footer .info .call{
    margin: 20px 0;
}

footer .info .call i {
    font-size: 50px;
    color: #fed200;
    margin-right: 20px;
}

footer .info .call span {
    font-size: 14px;
    color: #ccc;
}

footer .info .call p {
    color: white;
    font-size: 22px;
}

footer .info h6 ,p {
    color: white;
}

footer .info p {
    color: white;
} 
footer .info .social-icons i{
    font-size: 24px;
    margin: 10px;
}

footer .right ul{
    color: white;
    font-size: 14px;
}

footer .right ul h6 {
    font-size: 20px;
    margin-bottom: 25px;
}

footer .right ul li {
    margin: 10px 0;
    color: #ddd;
}

footer[lightMode = true] .info a svg path {
    fill: #212121 !important;
}

footer[lightMode = true] .right ul li ,
footer[lightMode = true] .right ul,
footer[lightMode = true] .info .call p,
footer[lightMode = true] .info p,
footer[lightMode = true] .info h6 ,p{
    color: black;
}

footer[lightMode = true] .info .call span {
    color: #111;
}

.copy {
    background-color: #212121;
}

.copy[lightMode = true] {
    background-color: #e7e7e7;
}

.copy p {
    color: white !important;

}

.copy[lightMode = true] p {
    
    color: black !important;
}

.copy .right img{
    width: 300px;
}
